.input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 6.75rem;
}

.input label {
  font-size: 1.25rem;
}

.input input {
  display: block;
  width: 100%;
  font-size: 2rem;
  border: 2px solid var(--color-gray-300);
  border-radius: 4px;
  padding: 8px 16px;
  outline-offset: 4px;
}